extends: relaxed

rules:
  line-length: disable
  comments:
    min-spaces-from-content: 1
  document-start: disable
  truthy:
    allowed-values: ["true", "false", "on"]   # GitHub Actions "on:"

ignore: |
  .venv/
  node_modules/
